@import url('https://fonts.cdnfonts.com/css/argentum-sans');

body {
    font-family: 'Argentum Sans';
    margin: 0;
}

    body * {
        box-sizing: border-box;
    }

    .le-cta {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        background: #796F92;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 58px;
        color: white;
        padding: 10px 25px;
        text-decoration: none;
        
        /* Estilo para mantener el botón estático */
        position: sticky;
        bottom: 20px; /* Puedes ajustar esta posición según tus necesidades */
        right: 20px; /* Puedes ajustar esta posición según tus necesidades */
    }
    

/* hamburger */

.container {
    position: absolute;
    top: 20%;
    left: 10%;
    float: left;
    padding-top: 1cm;
    z-index: 999;
  }
  
  .bars__menu {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15%;
    left: 10%;
    transform: translate(-15%, -10%) scale(3);
    cursor: pointer;
  }
  
  .bars__menu span {
    display: block;
    width: 100%;
    height: 2px;
    background: #f588f9;
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: all 300ms;
  }
  
  .activeline1__bars-menu {
    transform: rotate(45deg) translate(-2px, 1px);
  }
  
  .activeline2__bars-menu {
    opacity: 0;
    margin-left: -30px;
  }
  
  .activeline3__bars-menu {
    transform: rotate(-45deg) translate(-4px, 2px);
  }
  
  .menu {
    display: none;
    position: fixed;
    top: 25%;
    left: 15%;
    transform: translateY(-50%);
    background: transparent;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .menu.open {
    display: block;
  }
  
  .bars__menu:hover + .menu,
  .menu:hover {
    display: block;
  }
  
  .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu ul li {
    margin-bottom: 10px;
  }
  
  .menu ul li a {
    text-decoration: none;
    color: #ea5bec;
  }
  
  .menu ul li a:hover {
    color: #52b3c0;
  }
/* fin - hamburger */

.top-section {
    position: relative;
    text-align: center;
    overflow: hidden;
    height: 100vh;
    padding-top: 1cm;
    padding-bottom: 1cm;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.content {
    position: relative;
    z-index: 1;
}

.top-inner {
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    display: center;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Argentum Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 110px;
    text-align: center;
    letter-spacing: -0.005em;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}


.intro-image-container {
    position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%; /* Set width to a percentage value */
    max-width: 800px; /* Set a maximum width */
    height: 600px;
    margin: 0 auto; /* Center horizontally using margin */

}

h2 {
    font-family: 'Argentum Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 110px;
    text-align: center;
    letter-spacing: -0.005em;
    /* morado oscuro */
    color: #8267db;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
}

    h2 span {
        font-size: 30px;
    }

h3 {
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 55px;
    text-align: center;
    color: #FFFFFF;
    position: relative
}

    h3 span {
        color: #796f92;
    }

p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: white;
}

.le-button a {
    text-align: center;
    background: #796F92;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 58px;
    color: white;
    padding: 10px 25px;
    text-decoration: none;
}

    .le-button a:hover {
        background-color: #AFA7BE;
    }

.le-container {
    max-width: 1300px;
    margin: auto;
    overflow: hidden;
}

.le-logo {
    position: absolute;
    top: 2%;
    left: 5%;
    float: left;
    padding-top: 0.75cm;
}

.r-side {
    position: right;
    top: 30%;
    float: right;
}

.le-social {
    position: relative;
    z-index: 1;}

    .le-social {
        display: inline-block;
        width: 205px;
        float: left;
    }

    .social-link {
        display: inline-block;
        margin-top: 5px;
        margin-right: 15px;
        margin-left: 20px;
        max-width: 30px;
    }

    .le-social a {
        margin-top: 5px;
        margin-right: 15px;
        margin-left: 20px;
        max-width: 30px;
        display: inline-block;
    }

    .intro-image {
        position: center;
        display: flex;
        float: center;
        margin-bottom: 40px;
        height: auto; /* This maintains the image's aspect ratio */
        display: block; /* Ensures the image is centered properly */
    }

img {
    max-width: 100%;
}

.le-button {
    display: inline-block;
    margin-top: 15px;
}

.nav {
    overflow: hidden;
    /*margin-top: 30px;*/
    padding: 30px 0;
}


.le-bar div {
    text-align: center;
    -webkit-animation: lescroll 20s linear infinite;
    animation: lescroll 20s linear infinite;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    float: left;
    animation: scrollText 10s infinite linear;
}

.le-bar {
    overflow: hidden;
    background: #796f92;

    color: white;
    text-transform: uppercase;
}

.le-cta:hover {
    background-color: #AFA7BE;
}

.le-bar.le-bar-left {
    transform: rotate(-90deg) translate(-100%, 0);
    transform-origin: left top;
    position: fixed;
    top: 0px;
    left: 0px;
    max-width: 1300px;
    z-index: 1;
}

.lines-container {
    width: 100%;
    /* height: 300px; */
    /* overflow: hidden; */
    position: relative;
}

.le-bar.le-bar-right {
    /*transform: rotate(-90deg) translate(0, 100%);*/
    transform: rotate(-90deg) translate(0, -100%);
    transform-origin: 100% 0;
    max-width: 1300px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}


section.first-section {
    background: #afa7be;
    padding-bottom: 60px;
}

.le-two-col {
    overflow: hidden;
}

.left-col {
    width: 45%;
    float: left;
}

.le-middle {
    /*background: url(../img/le-line.png);*/
    background-repeat: no-repeat;
    width: 10%;
    float: left;
    /*height: 900px;*/
    background-size: contain;
    background-position: center;
    text-align: center;
}

.le-middle-bar {
    background: url(../img/le-line.png);
    background-size: contain;
    width: 55px;
    height: 1350px;
    position: absolute;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.right-col {
    width: 45%;
    float: left;
    text-align: center;
}

.left-col, .right-col {
    padding-left: 50px;
    padding-right: 50px;
}

.l-line:before {
    content: " ";
    margin-left: -160px;
    position: absolute;
    width: 40px;
    height: 1px;
    border-top: 1px solid white;
    top: 20px;
}

.l-line2:before {
    content: " ";
    margin-left: -206px;
    position: absolute;
    width: 40px;
    height: 1px;
    border-top: 1px solid white;
    top: 20px;
}

h3.l-line3:after {
    content: " ";
    position: absolute;
    width: 40px;
    height: 10px;
    border-top: 1px solid white;
    top: 1px;
    right: 0;
    margin-right: -115px;
}

.l-line-p1:before {
    content: " ";
    margin-left: -238px;
    position: absolute;
    width: 40px;
    height: 1px;
    border-top: 1px solid white;
    top: 20px;
}

.l-line-p3:before {
    margin-left: -219px;
}

.le-line {
    width: 1px;
    /* background: white; */
    height: 1350px;
    margin: 0 auto;
    border-right: 1px solid white;
}

.le-middle-bar2 {
    background: url(../img/le-line.png);
    background-size: contain;
    width: 55px;
    height: 1600px;
    position: absolute;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    background-repeat: no-repeat;
    background-size: 100% 100%;}

.le-line2 {
    width: 1px;
    /* background: white; */
    height: 1550px;
    margin: 0 auto;
    border-right: 1px solid white;
}

.second-section {
    background: #afa7be;
    padding-bottom: 60px;
}

    .second-section p {
        text-align: left
    }

.to-enlarge {
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 110px;
    text-align: center;
    letter-spacing: -0.005em;
    /* morado oscuro */
    color: #343041;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.third-section {
    position: relative;
    overflow: hidden;
    height: 130vh;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.le-container {
    position: relative;
    z-index: 1;
}

/* Adjust responsive styles for mobile devices */
@media (max-width: 768px) {
    .third-section {
        height: auto;
    }

    .background-video {
        width: 100vw;
        height: 100vh;
    }

    .le-container {
        /* Adjust responsive styles for .le-container here */
        padding: 20px; /* Example padding adjustment for mobile */
    }
}

    .third-section h2 {
        color: white;
        margin-top: 40px;
    }
.fourth-section {
    background: url(../img/TexturaGif.gif);
    background-size: cover;
}
.fifth-section {
    background: #afa7be;
    padding-bottom: 20px;
    text-align:center;
    padding-top:40px;
}
.fifth-section .le-social {
    display: block;
    width: 200px;
    float: none;
    margin: 0 auto;
}
    .fifth-section .bot-logo {
        width: 200px;
        margin-bottom: 20px;
    }
.one-team {
    width: 25%;
    /* float: left; */
    /* text-align: center; */
    /* left: 50%; */
    margin: 0 auto;
    display: inline-block;
    margin-bottom:40px;
}
.le-team {
    text-align: center;
}
    .one-team h3 {
        font-family: 'Argentum Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 32px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .one-team p {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
 
        margin: 10px auto;
    }
.img-wrap {
    position: relative;
    max-width: 200px;
    margin: 0 auto;
}
.le-icons {
    position: absolute;
    top: 40px;
    right: 0;
}
    .le-icons a {
        text-decoration: none;
        display: block;
        margin-bottom: 10px;
        background: #00000096;
        padding: 7px;
        border-bottom-left-radius: 20px;
    }
        .le-icons a:hover {
            background:black;
        }
        .le-icons img {
            max-width: 20px;
        }


.ac-container {
    width: 100%;
    margin: 120px auto;
    text-align: left;
    position: relative;
    max-width: 900px;
}


/*.ac-container {
    width: 100%;
    margin: 10px auto 30px auto;
    text-align: left;
}*/

    .ac-container label:hover {
        background: #fff;
    }

    .ac-container input:checked + label, .ac-container input:checked + label:hover {
        background: #f2f2f2;
    }

    .ac-container label:after {
        content: '';
        position: absolute;
        width: 24px;
        height: 17px;
        right: 10px;
        top: 12px;
        background: transparent url(../img/arrow.png) no-repeat center center;
    }


    .ac-container input {
        display: none;
    }

    .ac-container article {
        background: rgba(255,255,255,0.5);
        margin-top: -1px;
        overflow: hidden;
        height: 0;
        position: relative;
        z-index: 10;
        -webkit-transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
        -moz-transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
        -o-transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
        -ms-transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
        transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
    }

        .ac-container article p {
            font-size: 16px;
            line-height: 18px;
            color: #000000;
        }

    .ac-container input:checked ~ article {
        -webkit-transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
        -moz-transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
        -o-transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
        -ms-transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
        transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
        box-shadow: 0 0 0 1px rgba(155,155,155,0.3);
    }

        .ac-container input:checked ~ article.ac-small {
            height: 340px;
        }

        .ac-container input:checked ~ article.ac-medium {
            height: 340px;
        }

        .ac-container input:checked ~ article.ac-large {
            height: 340px;
        }
    .ac-container label {
        border-radius: 30px;
        padding-left: 10px;
        padding: 10px;
        display: flex;
        font-size: 12px !important;
        position: relative;
        z-index: 20;
        cursor: pointer;
        background: #fff;
        line-height: 20px;
    }
.le-bull {
    background: #AFA7BE;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    display: inline-block;
}
.ac-container label span {
    margin-right:5px;
}
    .ac-container input:checked + label .le-bull, .ac-container input:checked + label:hover .le-bull, .ac-container label:hover .le-bull {
        background: #343041
    }
article h3 {
    color: black;
    font-size: 28px;
    text-align: left;
    margin-bottom: 0;
    line-height: normal;
}
article p {
    text-align:left;
}
video, .le-two-col img {
    border-radius: 30px;
}
.gifbar {
    max-height: 52px;
}
.gifbar img {
    width:100%;
}
@media (min-width:768px) {
    .ac-container label {
     
        max-width: 400px;
    }
    article {
        height: 140px;
        /* border: 1px solid red; */
        max-width: 550px;
        float: right;
        position: absolute !important;
        top: 0;
        right: 0;
        background: #FAFBFF !important;
        border-radius: 20px !important;
        margin-top: -20px !important;
        z-index: 1 !important;
        padding-left: 80px;
        padding-right: 40px;
    }
        }

@keyframes scrollText {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-50%);
    }
}


@media (max-width:768px) {
    .le-bar.le-bar-left, .le-bar.le-bar-right, .le-social, .le-middle, .le-middle-bar, .le-middle-bar2, .to-hide {
        display: none
    }

    .le-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    h1 {
        font-size: 33px;
        line-height: normal;
        margin-bottom: 80px;
    }

    .r-side {
        margin-top: 15px;
    }

    .left-col, .right-col {
        width: 100%;
        padding: 0 !important;
    }

    .left-col {
        order: 2;
    }

    .right-col {
        order: 1;
    }

    .to-reverse {
        display: flex;
        flex-direction: column;
    }
    
    .one-team {
        width: 100%;
        float: none;
        text-align: center;
        margin-top: 20px;
    }
    .to-enlarge {
        font-size: 36px;
        line-height: 24px;
    }
    .third-section h2, .fourth-section h2 {
        font-size: 44px;
    }
    .ac-container {
        margin-top: 0;
    }
        .ac-container article {
            background:white;
          
            border-radius:20px;

        }
        article h3, article p {
            padding-left:20px;
            padding-right:20px;
        }
    }

/* Mobile styles (phones) */
@media only screen and (max-width: 600px) {
    /* Styles for mobile devices (phones) */
    /* Modify the layout for phones here */
}

/* Tablet styles (iPads) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* Styles for tablet devices (iPads) */
    /* Modify the layout for iPads here */
}

/* Desktop styles */
@media only screen and (min-width: 1025px) {
    /* Styles for desktop devices */
    /* Modify the layout for desktops here */
}